@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona Sans';
  src:
    url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Hubot Sans';
  src:
    url('/fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('/fonts/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Hubot Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background-color: black; 
}

::selection {
  background: #FF13CB; /* Gecko Browsers */
}
::-moz-selection {
  background: #FF13CB; /* WebKit Browsers */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
